$grid-gutter-width: 10px;
$theme-colors: (
  "primary": #1B4D3E,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/codemirror/lib/codemirror.css";
@import "../../../node_modules/treantjs/treant.css";

html, body, #main, .app{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
    background-color: #E8E8E8;
}

.row{
    margin-bottom: 10px;
}

.nav-main .nav-item{
	padding-right: 15px;
}

.view{
	padding: 16px;
}

.codemirror{
    padding: 0px;
    overflow: hidden;
    border-top-radius: 0px;
}

.CodeMirror{
	height: 100%;
}

.CodeMirror-lines{
	padding: 10px 2px;
	font-size:1.1em;
}

.CodeMirror-linenumber {
    padding: 0 8px 2px 5px;
}

.node-draw {
  width: 100px;
}

.node-draw .node-name { 
  font: bold 20px/1 "Gruppo", Arial, sans-serif;
  font-size: 20px;
  padding: 2px; 
  #fdfdfd-space: pre; 
  color: #00AFF0; 
}

.node-draw .node-desc {
  font: normal 10px/1 "Gruppo", Arial, sans-serif;
  font-size: 10px; 
  padding: 2px; 
  color: #999; 
}

.nav-tabs{
	.nav-link{
	    color: #495057;
	    border-color: #dee2e6 #dee2e6 #f7f7f7;
	    background-color: #f7f7f7;
	}
}

.card{
	margin-bottom: 19px;
}