/**********************
*  General CSS        *
*   - buttons         *
*   - text areas etc..*
**********************/

/************************
* View 1 - Specific CSS *
************************/
body {
  background-color: #E8E8E8;
}

/*
* Element CSS
*/

/* TopBarButton */
.TopBarButton { 
  width: 15%;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Arial Black, Gadget, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #c5ff07;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
 
.TopBarButton:hover {
  color: rgba(255,0,191,0.9);
}

.TopBarButton:active {
  color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.2) inset;
}

/* TaskBarButton */
.TaskBarButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 19px;
  border-radius: 2px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(235,255,173,0.9);
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.TaskBarButton:hover {
  background: rgba(195,255,0,0.9);
}

.TaskBarButton:active {
  background: rgba(23,216,2,0.9);
}

/* LowerBarButton */
.LowerBarButton {
  width: 49.8%;
  cursor: pointer;
  padding: 10px 0px;
  font: normal 16px/normal Arial Black, Gadget, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(235,255,173,0.9);
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.LowerBarButton:hover {
  background: rgba(195,255,0,0.9);
}

.LowerBarButton:active {
  background: rgba(23,216,2,0.9);
}

/*
* ID Based CSS
*/

#logo{
    display:block;
    margin:auto;
}

/*
* Divs 
*/

.PageArea{
    margin: 0 auto;
    width: 60%; 
}

.LogoArea{ 
}

.ParseArea{
    margin-top: 3%;
    margin-bottom: 8%;
}

.InformationArea{
  background: rgba(252,252,252,1); 
  overflow: hidden;
  border: 1px solid rgba(158,158,158,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #efffbf;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.InformationArea:hover {
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
}
